* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    background: url(../img/bgr\ header.jpg) #a1a1a1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-top {
    width: 100%;
    border-bottom: 1px solid #a1a1a1;
}

.wrap {
    width: 80%;
    margin: 0 auto;
}

.header-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    margin-left: 40px;
    border-bottom: none;
    transition: all 0.3s ease-in;
    padding-bottom: 40px;
}

.header-link:hover {
    border-bottom: 2px solid white;
}

.header-nav {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
}

.header-bottom {
    display: block;
    text-align: center;
    margin-top: 100px;
    margin-bottom: auto;
}

.header-bottom-text {
    display: block;
    text-align: center;
}

.header-description {
    color: white;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
}

.header-title {
    font-weight: 800;
    color: white;
    line-height: 64px;
    font-size: 48px;
    margin-top: 20px;
}

.header-button {
    padding-top: 13px;
    padding-bottom: 15px;
    color: white;
    background-color: #4985ff;
    border: none;
    outline: none;
    border-radius: 30px;
    padding-left: 36px;
    padding-right: 36px;
    transition: all 0.3s ease-in;
}

.header-button:hover {
    border-radius: 15px;
}

.second-screen {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.second-screen-text {
    text-align: center;
    margin-top: 110px;
    margin-bottom: 70px;
}

.second-screen-text h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #323232;
}

.second-screen-text p {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
}

.second-screen-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.second-screen-card {
    display: flex;
    justify-content: start;
    align-items: center;
    max-width: 353px;
}

.second-screen-card img {
    margin-bottom: auto;
}

.card-text {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}

.card-text span {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: black;
}

.card-text p {
    font-size: 14px;
    line-height: 22px;
    color: #999999;
}

.second-screen-button {
    padding-top: 13px;
    padding-bottom: 15px;
    padding-left: 36px;
    padding-right: 36px;
    background-color: #4985ff;
    border-radius: 30px;
    border: none;
    outline: none;
    color: white;
    transition: all 0.3s ease-in;
}

.second-screen-button:hover {
    border-radius: 15px;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.about-us-main {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
    border-bottom: 1px solid #e0e0e0;
}

.about-us-main-text {
    margin-right: 110px;
}

.about-us-main-text h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #323232;
}

.about-us-main-text p {
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
}

.about-us-main-text a {
    text-decoration: underline;
    font-size: 16px;
    line-height: 20px;
    color: #4985ff;
}

.about-us-img {
    max-width: 500px;
    max-height: 400px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}

.about-us-footer {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 70px;
}

.about-us-footer-card {
    display: flex;
    flex-wrap: wrap;
    max-width: 104px;
}

.about-us-footer-card span {
    font-size: 36px;
    line-height: 53px;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    margin-left: 20px;
}

.about-us-footer-card img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.about-us-footer-card p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    margin-top: 0;
}

.all-services {
    height: 120vh;
    width: 100%;
    background-image: url(../img/bgr-all-services.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
}

.all-services-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 70px;
}

.all-services-header h2 {
    color: white;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
}

.all-services-header button {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: white;
    padding: 15px 36px;
    background-color: #4985ff;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border: none;
    outline: none;
    transition: all 0.3s ease-in;
}

.all-services-header button:hover {
    border-radius: 15px;
}

.all-services-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 150px;
}

.all-services-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    max-width: 350px;
    flex-basis: 25%;
}

.all-services-card img {
    width: 300px;
    height: 280px;
    border-radius: 10px;
}

.blue-text {
    color: #4985ff;
}

.all-services-card h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    font-style: normal;
}

.all-services-card p {
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    font-style: normal;
    font-weight: normal;
}

.all-services-card a {
    text-decoration: underline;
    color: #4985ff;
    font-size: 16px;
    line-height: 20px;
}